.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

  .product &,
  .clients &,
  .team-members & {
    margin-bottom: 50px;
  }
}

.title-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);

  .advantages &,
  .member-list__item & {
    margin-bottom: 10px;
  }
  .advantages & {
    text-align: center;
  }
}
